@use "partials/header";
@use "partials/footer";

@use "partials/fonts";
@use "partials/colors";

html, body {
    margin: 0;
    padding: 0;

    background-color: #101010;
    color: #fff;

    font-size: 16px;
}

body {
    min-height: 100svh;
    min-height: 100vh;

    display: grid;
    grid-template-columns: 1fr 1080px 1fr;

    @media (max-width: 1080px) {
        grid-template-columns: 0 1fr 0;
    }
}

main {
    display: flex;
    flex-direction: column;

    @media (max-width: 1080px) {
        margin: 0 1rem;
    }
}

a, .no-highlight {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
