@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@800&family=Syne:wght@500&family=Playfair+Display:wght@400;600&family=IBM+Plex:wght@700&family=JetBrains+Mono:wght@500&display=swap');

$font-stack: "Syne", sans-serif;
$font-stack-v2: "Lexend", sans-serif;
$font-stack-serif: "Playfair Display", serif;
$font-stack-mono: "JetBrains Mono", monospace;