$switch-lang-size: 2em;
$sidebar-navitem-shadow: "20px 0 20px -10px";
$sidebar-navitem-margin-b: 12px;
$sidebar-nav-button-margin-lr: 4px;

$drawer-size_s: 144px;
$drawer-size_m: 240px;
$drawer-size_l: 360px;

$header-lr-margin_s: 10px;
$header-lr-margin_m: 100px;
$header-lr-margin_l: 200px;

$header-font-size_s: 24px;
$header-font-size_m: 30px;
$header-font-size_l: 36px;
$header-font-size_x: 42px;