@use "colors";
@use "overflows";
@use "urls";
@use "fonts";
@use "variables";
@use "keyframes";
@use "sass:color";
@use "partials/header";
@use "partials/footer";

html, body {
  margin: 0;
  padding: 0;
  //noinspection CssBrowserCompatibilityForProperties
  scroll-behavior: smooth;
}

html {
  //noinspection CssInvalidPropertyValue
  height: -webkit-fill-available;
  //noinspection CssInvalidPropertyValue
  height: -moz-available;
  //noinspection CssInvalidPropertyValue
  height: fill-available;
}

body {
  //noinspection CssInvalidPropertyValue
  min-height: -webkit-fill-available;
  //noinspection CssInvalidPropertyValue
  min-height: -moz-available;
  //noinspection CssInvalidPropertyValue
  min-height: fill-available;
}

a, .no-highlight {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  //noinspection CssBrowserCompatibilityForProperties
  user-select: none;
}

a {
  text-decoration: none;
}

.normal {
  // normal class
  // given to body element on a page other than index.html

  #bg-overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -2;

    background: linear-gradient(90deg, rgb(46, 23, 78) 0%, rgb(41, 34, 51) 30%, rgb(93 49 171) 100%);
    animation: gradient_motion infinite;
    animation-duration: 8s;
    background-size: 200% 200%;
  }

  #content {
    background: colors.$cl_main_bg;
    margin: 0;
    padding: 50px 10px 10px;
    color: #ccc;
    box-sizing: border-box;
    min-height: 100%;
    transition: 250ms all ease-out;

    p {
      margin: 0;
    }

    h1 {
      margin: 32px 0 0;

      &:first-of-type {
        margin: 0;
      }
    }

    @include overflows.mx_mobile {
      margin: 0;
    }

    @include overflows.mx_header_600 {
      padding: 2 * variables.$header-font-size_m + 10 2 * variables.$header-lr-margin_s 0;
    }

    @include overflows.mx_header_1000 {
      padding: 2 * variables.$header-font-size_l + 10 2 * variables.$header-lr-margin_m 0;
    }

    @include overflows.mx_header_1600 {
      padding: 2 * variables.$header_font-size_x + 10 2 * variables.$header-lr-margin_l 0;
    }
  }
}

#switch-lang {
  position: absolute;
  top: 5vmin;
  right: 5vmin;
  width: variables.$switch-lang-size;
  height: variables.$switch-lang-size;
  line-height: variables.$switch-lang-size;
  border: solid 1px white;
  border-radius: 16px;
  font-family: fonts.$font-stack;
  font-size: 2vmin;
  color: white;
  text-align: center;
  text-decoration: none;
  animation: 1000ms ease-in-out fade-in;
  transition: all ease-in-out 250ms;

  &:hover {
    background-color: colors.$cl_them_bright_100;
    border-color: colors.$cl_them_bright_100;
    box-shadow: color.scale(colors.$cl_them_bright_100, $alpha: -34%) 0 0 20px 5px;
    color: black;
    transform: scale(1.125);
  }

  @include overflows.mx_mobile {
    font-size: 4vmin;
  }
}