@use "colors";
@use "overflows";
@use "urls";
@use "fonts";
@use "sass:color";
@use "sass:math";

$switch-lang-size: 2em;
$sidebar-navitem-shadow: "20px 0 20px -10px";
$sidebar-navitem-margin-b: 12px;
$sidebar-nav-button-margin-lr: 4px;

$header-lr-margin_s: 10px;
$header-lr-margin_m: 100px;
$header-lr-margin_l: 200px;

$header-font-size_s: 24px;
$header-font-size_m: 30px;
$header-font-size_l: 36px;
$header-font-size_x: 42px;

html, body {
  margin: 0;
  padding: 0;
  //noinspection CssBrowserCompatibilityForProperties
  scroll-behavior: smooth;
}

html {
  //noinspection CssInvalidPropertyValue
  height: -webkit-fill-available;
  //noinspection CssInvalidPropertyValue
  height: -moz-available;
  //noinspection CssInvalidPropertyValue
  height: fill-available;
}

body {
  //noinspection CssInvalidPropertyValue
  min-height: -webkit-fill-available;
  //noinspection CssInvalidPropertyValue
  min-height: -moz-available;
  //noinspection CssInvalidPropertyValue
  min-height: fill-available;
}

a, .no-highlight {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  //noinspection CssBrowserCompatibilityForProperties
  user-select: none;
}

.normal {
  // normal class
  // given to body element on a page other than index.html

  #bg-overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -2;

    background: urls.$background_image, linear-gradient(90deg, rgb(46, 23, 78) 0%, rgb(41, 34, 51) 30%, rgb(93 49 171) 100%);
    animation: gradient_motion infinite;
    animation-duration: 8s;
    background-size: 200% 200%;
  }

  #logo {
    z-index: 98;
    position: fixed;
    top: 10px;
    left: $header-lr-margin_s;
    color: white;
    text-decoration: underline;
    font: 600 $header-font-size_s fonts.$font-stack;
    margin: 0;
    transform: perspective(1px) translateZ(0);
    transition: all ease-in-out 150ms;

    &:hover {
      color: colors.$cl_them_bright_100;
      animation: buzz linear infinite 0.15s;
    }

    @include overflows.mx_header_600 {
      font-size: $header-font-size_m;
    }

    @include overflows.mx_header_1000 {
      font-size: $header-font-size_l;
      left: $header-lr-margin_m;
    }

    @include overflows.mx_header_1600 {
      font-size: $header-font-size_x;
      left: $header-lr-margin_l;
    }
  }

  #toggle-surface {
    position: fixed;
    right: 0;
    width: calc(100vw - 144px);
    height: 100%;
    z-index: 100;
    display: none;
  }

  #toggle-label {
    z-index: 98;
    position: fixed;
    top: 10px;
    right: $header-lr-margin_s;
    color: white;
    font: 600 24px fonts.$font-stack;
    cursor: pointer;
    transition: all ease-in-out 150ms;

    &:hover {
      color: colors.$cl_them_bright_100;
    }

    @include overflows.mx_header_600 {
      font-size: $header-font-size_m;
    }

    @include overflows.mx_header_1000 {
      font-size: $header-font-size_l;
      right: $header-lr-margin_m;
    }

    @include overflows.mx_header_1600 {
      font-size: $header-font-size_x;
      right: $header-lr-margin_l;
    }
  }

  #toggle-input {
    position: absolute;
    -webkit-appearance: none;
    //noinspection CssBrowserCompatibilityForProperties
    appearance: none;
    background-color: #fff;
    margin: 0;
  }

  #toggle-input:checked ~ #drawer {
    width: 144px !important;
  }

  #toggle-input:checked ~ #toggle-surface {
    display: block;
  }

  #toggle-input:checked ~ #content {
    filter: brightness(0.5) blur(1px);
  }

  #shadow {
    z-index: 97;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: -webkit-linear-gradient(to bottom, black, transparent);
    background: -o-linear-gradient(to bottom, black, transparent);
    background: -moz-linear-gradient(to bottom, black, transparent);
    background: linear-gradient(to bottom, black, transparent);

    @include overflows.mx_header_600 {
      height: 2 * $header-font-size_m + 10;
    }

    @include overflows.mx_header_1000 {
      height: 2 * $header-font-size_l + 10;
    }

    @include overflows.mx_header_1600 {
      height: 2 * $header-font-size_x + 10;
    }
  }

  #drawer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    //noinspection CssBrowserCompatibilityForProperties
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: colors.$cl_them_dark_700;
    overflow: hidden;
    height: 100%;
    width: 0;
    transition: 250ms ease-out width;
    white-space: nowrap; // This prevents the overflow break caused by drawer open/close transition

    #drawer-name {
      margin: 32px 0 32px;
      color: colors.$cl_them_bright_700;
      font-family: fonts.$font-stack;
    }

    #drawer-nav {
      .drawer-navitem {
        z-index: 100;
        margin: 0 0 $sidebar-navitem-margin-b 0;
        display: block;
        box-sizing: border-box;
        text-decoration: none;
        width: 100%;
        height: 24px;
        color: colors.$cl_them_bright_700;
        transition: 250ms ease-in transform, 200ms ease-in color;
        position: relative;
        font: 400 20px fonts.$font-stack-serif;

        &:before {
          position: absolute;
          content: "";
          top: 3px;
          left: -1rem;
          width: 0.25rem;
          height: 100%;
          background: var(--menu-link-active-color);
          transition: 0.3s;
          z-index: -1;
        }

        @for $i from 1 through length(colors.$list_cl_rainbox) {
          &:nth-child(#{$i}) {
            --menu-link-active-color: #{nth(colors.$list_cl_rainbox, $i)};
          }
        }

        &:hover {
          color: var(--menu-link-active-color);
          &::before {
            left: calc(100% + 1rem);
          }
        }
      }
    }

    #drawer-switch-lang {
      margin: 0 4px 32px 4px;
      display: inline-block;
      border: 1px solid white;
      border-radius: 16px;
      text-align: center;
      width: 2em;
      height: 2em;
      line-height: 2em;

      color: white;
      text-decoration: none;
      font-family: fonts.$font-stack;
      font-weight: 600;
      font-size: 16px;
      transition: color ease-in-out 250ms, transform ease-in-out 250ms;

      &:hover {
        background-color: colors.$cl_them_bright_100;
        border-color: colors.$cl_them_bright_100;
        box-shadow: color.scale(colors.$cl_them_bright_100, $alpha: -34%) 0 0 20px 5px;
        color: colors.$cl_them_dark_700;
        transform: scale(1.125);
      }
    }
  }

  #content {
    display: flex;
    //noinspection CssBrowserCompatibilityForProperties
    flex-direction: column;
    background: colors.$cl_main_bg;
    margin: 0;
    padding: 50px 10px 10px;
    color: #ccc;
    box-sizing: border-box;
    min-height: 100%;
    transition: 250ms all ease-out;

    p {
      margin: 0;
    }

    h1 {
      margin: 32px 0 0;

      &:first-of-type {
        margin: 0;
      }
    }

    @include overflows.mx_mobile {
      margin: 0;
    }

    @include overflows.mx_header_600 {
      padding: 2 * $header-font-size_m + 10 2 * $header-lr-margin_s 0;
    }

    @include overflows.mx_header_1000 {
      padding: 2 * $header-font-size_l + 10 2 * $header-lr-margin_m 0;
    }

    @include overflows.mx_header_1600 {
      padding: 2 * $header_font-size_x + 10 2 * $header-lr-margin_l 0;
    }
  }
}

#switch-lang {
  position: absolute;
  top: 5vmin;
  right: 5vmin;
  width: $switch-lang-size;
  height: $switch-lang-size;
  line-height: $switch-lang-size;
  border: solid 1px white;
  border-radius: 16px;
  font-family: fonts.$font-stack;
  font-size: 2vmin;
  color: white;
  text-align: center;
  text-decoration: none;
  animation: 1000ms ease-in-out fade-in;
  transition: all ease-in-out 250ms;

  &:hover {
    background-color: colors.$cl_them_bright_100;
    border-color: colors.$cl_them_bright_100;
    box-shadow: color.scale(colors.$cl_them_bright_100, $alpha: -34%) 0 0 20px 5px;
    color: black;
    transform: scale(1.125);
  }

  @include overflows.mx_mobile {
    font-size: 4vmin;
  }
}