$cl_index_bg: #000000;
$cl_index_fg: #473b5a;
$cl_main_bright: #caa8ff;

$cl_rainbow1: #ff4d4a;
$cl_rainbow2: #ffb44a;
$cl_rainbow3: #fcfc49;
$cl_rainbow4: #41e041;
$cl_rainbow5: #3ca5cf;
$cl_rainbow6: #cc3bc2;