@use "colors";
@use "overflows";
@use "urls";
@use "sass:color";

@use "views/index";

@font-face {
  font-family: "JetBrains Mono";
  src: url("../fonts/JetBrainsMono-Regular.woff2");
}

$switch-lang-size: 2em;

html, body {
  margin: 0;
  padding: 0;
  //noinspection CssBrowserCompatibilityForProperties
  scroll-behavior: smooth;
}

a {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  //noinspection CssBrowserCompatibilityForProperties
  user-select: none;
}

.normal {
  background: colors.$cl_index_bg urls.$background_image;

  header {
    display: flex;
    padding: 2vw 2vh;
    color: white;

    img {
      width: 48px;
      border-radius: 50%;
    }

    section {
      display: inline-flex;
      //noinspection CssBrowserCompatibilityForProperties
      flex-direction: column;
    }

    nav {
      
    }

    @include overflows.mx_mobile {
      nav {
        display: none;
      }
    }
  }
}

#switch-lang {
  position: absolute;
  top: 5vmin;
  right: 5vmin;
  width: $switch-lang-size;
  height: $switch-lang-size;
  line-height: $switch-lang-size;
  border: solid 1px white;
  border-radius: 16px;
  font-family: "JetBrains Mono", monospace;
  font-size: 2vmin;
  color: white;
  text-align: center;
  text-decoration: none;
  animation: 1000ms ease-in-out fade-in;
  transition: all ease-in-out 250ms;

  &:hover {
    background-color: colors.$cl_main_bright;
    border-color: colors.$cl_main_bright;
    box-shadow: color.scale(colors.$cl_main_bright, $alpha: -34%) 0 0 20px 5px;
    color: black;
    transform: scale(1.125);
  }

  @include overflows.mx_mobile {
    font-size: 4vmin;
  }
}