@use "../fonts";
@use "../colors";
@use "../overflows";

html {
  height: 100% !important;
}

#content {
  max-width: 100%;
  min-height: 100vh;
  background: none !important;
  font-family: fonts.$font-stack;

  .barrier {
    color: colors.$cl_them_bright_600;
    font: 400 45px fonts.$font-stack;
    span {
      font: 700 50px fonts.$font-stack;
    }
  }

  .barrier-rule {
    color: colors.$cl_them_bright_600;
    margin: 0;
    border: 1px solid white;
    border-bottom: 0;
  }

  .list-contact-links {
    .link {
      color: colors.$cl_them_bright_500;
      font: 600 35px fonts.$font-stack-serif;
      letter-spacing: 2px;
      transition: letter-spacing 250ms ease, color 250ms ease;

      &:hover {
        -webkit-text-fill-color: initial !important;
        color: colors.$cl_them_bright_700;
        letter-spacing: 0;
      }

      &:before {
        font-weight: 100;
        //noinspection CssBrowserCompatibilityForProperties
        mix-blend-mode: difference;
        content: "↗";
      }
    }
  }

  #sec-securely {
    text-align: right;
    font-size: 25px;
    color: colors.$cl_them_bright_600;

    #pgp-download {
      font: 600 28px fonts.$font-stack-serif;
      color: colors.$cl_them_bright_500;
      letter-spacing: 1px;
      transition: letter-spacing 250ms ease, color 250ms ease;

      &:hover {
        color: colors.$cl_them_bright_700;
        letter-spacing: 0;
      }

      &:after {
        content: "↓";
        font-family: fonts.$font-stack;
        //noinspection CssBrowserCompatibilityForProperties
        mix-blend-mode: difference;
      }
    }

    #pgp-copy-id {
      font: 500 25px fonts.$font-stack-mono;
    }

    .pgp-warning {
      span {
        font-style: italic;
      }
    }
  }

  @include overflows.mx_header_600 {
    .barrier {
      font-size: 65px;
      span {
        font-size: 65px;
      }
    }

    #sec-securely {
      #pgp-download {
        letter-spacing: 2px;
      }
    }
  }
}