@use "../fonts";
@use "../colors";
@use "../overflows";

html {
  height: 100% !important;
}

#content {
  max-width: 100%;
  min-height: 100vh;
  background: none !important;

  .barrier {
    color: colors.$cl_them_bright_600;
    font: 400 45px fonts.$font-stack;
    span {
      font: 700 50px fonts.$font-stack;
    }
  }

  .barrier-rule {
    color: colors.$cl_them_bright_600;
    margin: 0;
    border: 1px solid white;
    border-bottom: 0;
  }

  .list-contact-links {
    li {
      color: colors.$cl_them_bright_600;

      .link {
        font: 35px fonts.$font-stack-serif;
        -webkit-text-stroke: 1px colors.$cl_them_bright_600;
        -webkit-text-fill-color: transparent;
        font-variant: petite-caps;
        color: transparent;

        &:hover {
          -webkit-text-fill-color: initial !important;
          color: colors.$cl_them_bright_700;
        }
      }
    }
  }

  #sec-securely {
    text-align: right;
    font-family: fonts.$font-stack;
    font-size: 20px;
    color: colors.$cl_them_bright_600;

    #pgp-download {
      color: inherit;
    }

    #pgp-copy-id {
      font: 500 20px fonts.$font-stack-mono;
    }

    .pgp-warning {
    }
  }

  @include overflows.mx_header_600 {
    .barrier {
      font-size: 65px;
      span {
        font-size: 65px;
      }
    }
  }
}