@use "../fonts";
@use "../colors";

#project-title {
  h1 {
    color: colors.$cl_them_bright_100;
    font: 700 36px fonts.$font-stack-serif;
  }

  h2, h3 {
    color: colors.$cl_them_bright_600;
    font: 400 20px fonts.$font-stack;
  }

  h2 {
    margin-top: 5px;

    a {
      color: colors.$cl_them_bright_600;

      &:before {
        content: "↗";
      }

      &:hover {
        color: colors.$cl_them_bright_100;
      }

      &:active {
        font-style: italic;
      }
    }
  }

  h3 {
    margin-bottom: 0;
  }

  #project-technology-stack {
    margin-top: 5px;
    display: flex;
    flex-flow: row;

    li {
      font: 400 16px fonts.$font-stack-mono;
      color: #fff;
      border: 1px solid black;
      border-radius: 2px;

      &[data-value="HTML5"] {
        background: #e34c26;
      }

      &[data-value="JavaScript"] {
        color: #000;
        background: #f0db4f;
      }

      &[data-value="Sass/SCSS"] {
        background: #cc6699;
      }

      &[data-value="CPanel"] {
        background: linear-gradient(45deg, #83B655 0%, #179BD7 100%);
      }
    }
  }
}

#project-description {
  color: colors.$cl_them_bright_500;

  p {
    margin: 10px 0 !important;
  }

  figure {
    margin: 10px 0;
    width: 100%;

    svg {
      width: inherit;
      height: inherit;
    }

    figcaption {
      font: 400 14px fonts.$font-stack-mono;
    }
  }
}