//
//  yigid balaban,  <fyb@fybx.dev>
//  blog            2024
//

$gradient-main: linear-gradient(90deg, #F0F 0%, #FF6681 100%);
$gradient-about: linear-gradient(90deg, #FDC830 0%, #F37335 100%);
$gradient-blog: linear-gradient(90deg, #10CBBC 0%, #38EF7D 100%);
$gradient-works: linear-gradient(90deg, #2980B9 0%, #39CBFF 50%, #8BE1FF 100%);
$gradient-genesis: linear-gradient(90deg, #A2FF08 0%, #2C7DAA 81.95%);