@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital@0;1&family=Josefin+Sans&display=swap');

$font-serif: "Newsreader", serif;
$font-sans: "Josefin Sans", sans-serif;
$font-mono: "JetBrains Mono", monospace;