@use "specials";
@use "fonts";
@use "colors";

footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6rem;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  * {
    margin: 0;
  }

  section:first-of-type {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1 {
      @include specials.make-it-sassy;
      font: 400 2rem fonts.$font-sans;
    }

    h2,
    p {
      font: 400 1.25rem fonts.$font-serif;
      span {
        @include specials.text-gradient(colors.$gradient-genesis);
      }
    }
  }

  section:last-of-type {
    table {
        margin-bottom: 2.5rem;
    }

    tr:first-child th {
      border-bottom: 1rem solid transparent;
    }

    th, td {
        padding-right: 2rem;
    }

    th {
      text-align: left;
      font: 400 1.5rem fonts.$font-sans;
    }

    td {
      font: 400 1.25rem fonts.$font-serif;
    }

    div:last-of-type {
        a {
            margin-right: 0.5rem;

            img {
                border: 1px solid #fff;
              }
        }
    }
  }
}
