@use "../colors";
@use "../fonts";

.collapse-container {
  margin-bottom: 1.2rem;

  input[type='checkbox'] {
    display: none;
  }

  .collapse-toggle-label {
    display: block;

    font-weight: bold;
    font-family: fonts.$font-stack-mono;
    font-size: 1.2rem;
    text-align: center;

    padding: 1rem;

    color: colors.$cl_them_bright_100;
    background: colors.$cl_them_dark_300;
    border: colors.$cl_them_bright_100 solid 1px;

    cursor: pointer;

    border-radius: 7px;
    transition: all 0.25s ease-out;

    &:hover {
      color: colors.$cl_them_bright_400;
    }

    &::before {
      content: ' ';
      display: inline-block;

      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 5px solid currentColor;
      vertical-align: middle;
      margin-right: .7rem;
      transform: translateY(-2px);

      transition: transform .2s ease-out;
    }
  }

  .collapse-toggle:checked + .collapse-toggle-label::before {
    transform: rotate(90deg) translateX(-3px);
  }

  .collapse-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
  }

  .collapse-toggle:checked + .collapse-toggle-label + .collapse-content {
    max-height: 100vh;
  }

  .collapse-toggle:checked + .collapse-toggle-label {
    border-radius: 7px 7px 0 0;
  }

  .collapse-content .content-inner {
    background: colors.$cl_them_dark_200;
    border-bottom: 1px solid colors.$cl_them_bright_100;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .5rem 1rem;
  }
}