@use '../partials/fonts';
@use '../partials/colors';

#hero {
	h1 {
		font: 400 3rem fonts.$font-sans;

		.txt-rotate {
			font: 400 3rem fonts.$font-serif;
			font-style: italic;

			background: colors.$gradient-main;
			-webkit-text-fill-color: transparent;
			color: transparent;

			-webkit-background-clip: text;
			-moz-background-clip: text;
			background-clip: text;
		}
	}

	p {
		font: 1.5rem fonts.$font-serif;
	}
}
