@use '../partials/fonts';
@use '../partials/colors';

@use '../components/buttons/arrow';

p {
	font: 1.5rem fonts.$font-serif;
}

main {
	row-gap: 6rem;
}

// This section overrides some properties from
// the card-modern-vcard component of genesis
.card-modern-vcard {
	max-width: 320px !important;

	.cmv-text {
		h1 {
			font-family: fonts.$font-sans;
		}

		h2 {
			font-family: fonts.$font-serif;
		}
	}
}

#hero {
	h1 {
		font: 400 3rem fonts.$font-sans;

		.txt-rotate {
			font: 400 3rem fonts.$font-serif;
			font-style: italic;

			background: colors.$gradient-main;
			-webkit-text-fill-color: transparent;
			color: transparent;

			-webkit-background-clip: text;
			-moz-background-clip: text;
			background-clip: text;
		}
	}

	p {
		font: 1.5rem fonts.$font-serif;
	}
}
