<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Post title | fybx</title>
    <link type="text/css" rel="stylesheet" href="styles/posts.css">
    <link type="text/css" rel="stylesheet" href="styles/header.css">
    <link type="text/css" rel="stylesheet" href="styles/general.css">
    <script src="scripts/general.js"></script>
</head>
<body>
<div class="container">
    <div id="left_column"></div> <!-- Left black box -->
    <div id="header"></div>
    <div id="content">
        <div id="post-identifier">
            <div id="post-identifier-upper">
                <h1 id="post-title">Post title</h1>
                <h3 id="post-author">Post author</h3>
            </div>
            <hr>
            <h3 id="post-date">1/1/2001</h3>
        </div>
    </div>
    <div id="footer"></div>
    <div id="right_column"></div> <!-- Right black box -->
</div>
</body>
</html>