<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ferit Yiğit BALABAN</title>
    <link type="text/css" rel="stylesheet" href="styles/general.css">
    <link type="text/css" rel="stylesheet" href="styles/header.css">
    <script src="scripts/general.js"></script>
</head>
<body>
<div class="container">
    <div id="left_column"></div> <!-- Left black box -->
    <div id="header"></div>
    <div id="content"></div>
    <div id="footer"></div>
    <div id="right_column"></div> <!-- Right black box -->
</div>
</body>
</html>