@use "../overflows";
@use "../colors";
@use "../fonts";
@use "../variables";
@use "sass:color";

.normal {
  header {
    #logo {
      z-index: 98;
      position: fixed;
      top: 10px;
      left: variables.$header-lr-margin_s;
      color: white;
      text-decoration: underline;
      font: 600 variables.$header-font-size_s fonts.$font-stack;
      margin: 0;
      transform: perspective(1px) translateZ(0);
      transition: all ease-in-out 150ms;

      &:hover {
        color: colors.$cl_them_bright_100;
        animation: buzz linear infinite 0.15s;
      }

      @include overflows.mx_header_600 {
        font-size: variables.$header-font-size_m;
      }

      @include overflows.mx_header_1000 {
        font-size: variables.$header-font-size_l;
        left: variables.$header-lr-margin_m;
      }

      @include overflows.mx_header_1600 {
        font-size: variables.$header-font-size_x;
        left: variables.$header-lr-margin_l;
      }
    }

    #toggle-surface {
      position: fixed;
      right: 0;
      width: calc(100vw - 144px);
      height: 100%;
      z-index: 100;
      display: none;
    }

    #toggle-label {
      z-index: 98;
      position: fixed;
      top: 10px;
      right: variables.$header-lr-margin_s;
      color: white;
      font: 600 24px fonts.$font-stack;
      cursor: pointer;
      transition: all ease-in-out 150ms;

      &:hover {
        color: colors.$cl_them_bright_100;
      }

      @include overflows.mx_header_600 {
        font-size: variables.$header-font-size_m;
      }

      @include overflows.mx_header_1000 {
        font-size: variables.$header-font-size_l;
        right: variables.$header-lr-margin_m;
      }

      @include overflows.mx_header_1600 {
        font-size: variables.$header-font-size_x;
        right: variables.$header-lr-margin_l;
      }
    }

    #toggle-input {
      position: absolute;
      -webkit-appearance: none;
      //noinspection CssBrowserCompatibilityForProperties
      appearance: none;
      background-color: #fff;
      margin: 0;
    }

    #toggle-input:checked ~ #drawer {
      width: variables.$drawer-size_s;

      @include overflows.mx_header_600 {
        width: variables.$drawer-size_m;
      }

      @include overflows.mx_header_1600 {
        width: variables.$drawer-size_l;
      }
    }

    #toggle-input:checked ~ #toggle-surface {
      display: block;
    }

    #toggle-input:checked ~ #content {
      filter: brightness(0.5) blur(1px);
    }

    #shadow {
      z-index: 97;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 60px;
      background: -webkit-linear-gradient(to bottom, black, transparent);
      background: -o-linear-gradient(to bottom, black, transparent);
      background: -moz-linear-gradient(to bottom, black, transparent);
      background: linear-gradient(to bottom, black, transparent);

      @include overflows.mx_header_600 {
        height: 2 * variables.$header-font-size_m + 10;
      }

      @include overflows.mx_header_1000 {
        height: 2 * variables.$header-font-size_l + 10;
      }

      @include overflows.mx_header_1600 {
        height: 2 * variables.$header-font-size_x + 10;
      }
    }

    #drawer {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 100;
      display: flex;
      //noinspection CssBrowserCompatibilityForProperties
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      background: colors.$cl_them_dark_700;
      overflow: hidden;
      height: 100%;
      width: 0;
      transition: 250ms ease-out width;
      white-space: nowrap; // This prevents the overflow break caused by drawer open/close transition

      #drawer-name {
        margin: 32px 0 32px;
        color: colors.$cl_them_bright_700;
        font-family: fonts.$font-stack;
      }

      #drawer-nav {
        .drawer-navitem {
          z-index: 100;
          margin: 0 0 variables.$sidebar-navitem-margin-b 0;
          display: block;
          box-sizing: border-box;
          text-decoration: none;
          width: 100%;
          height: 24px;
          color: colors.$cl_them_bright_700;
          transition: 250ms ease-in transform, 200ms ease-in color;
          position: relative;
          font: 400 20px fonts.$font-stack-serif;

          &:before {
            position: absolute;
            content: "";
            top: 3px;
            left: -1rem;
            width: 0.25rem;
            height: 100%;
            background: var(--menu-link-active-color);
            transition: 0.3s;
            z-index: -1;
          }

          @for $i from 1 through length(colors.$list_cl_rainbox) {
            &:nth-child(#{$i}) {
              --menu-link-active-color: #{nth(colors.$list_cl_rainbox, $i)};
            }
          }

          &:hover {
            color: var(--menu-link-active-color);
            &::before {
              left: calc(100% + 1rem);
            }
          }
        }
      }

      #drawer-switch-lang {
        margin: 0 4px 32px 4px;
        display: inline-block;
        border: 1px solid white;
        border-radius: 16px;
        text-align: center;
        width: 2em;
        height: 2em;
        line-height: 2em;

        color: white;
        text-decoration: none;
        font-family: fonts.$font-stack;
        font-weight: 600;
        font-size: 16px;
        transition: color ease-in-out 250ms, transform ease-in-out 250ms;

        &:hover {
          background-color: colors.$cl_them_bright_100;
          border-color: colors.$cl_them_bright_100;
          box-shadow: color.scale(colors.$cl_them_bright_100, $alpha: -34%) 0 0 20px 5px;
          color: colors.$cl_them_dark_700;
          transform: scale(1.125);
        }
      }

      @include overflows.mx_header_600 {
        #drawer-name {
          font-size: 26px;
        }

        #drawer-nav > .drawer-navitem {
          &:before {
            top: 4px;
            height: 120%;
          }
          margin: 0 0 14px 0;
          font-size: 26px;
        }
      }

      @include overflows.mx_header_1600 {
        #drawer-name {
          font-size: 36px;
        }

        #drawer-nav > .drawer-navitem {
          &:before {
            top: 8px;
            height: 160%;
          }
          margin: 0 0 28px 0;
          font-size: 36px;
        }
      }
    }
  }
}