@use "../fonts";
@use "../colors";

#about {
  #content {
    h1 {
      font: 700 36px fonts.$font-stack;

      &:nth-of-type(1) {
        color: colors.$cl_rainbow1;
      }
      &:nth-of-type(2) {
        color: colors.$cl_rainbow2;
      }
      &:nth-of-type(3) {
        color: colors.$cl_rainbow3;
      }
      &:nth-of-type(4) {
        color: colors.$cl_rainbow4;
      }
      &:nth-of-type(5) {
        color: colors.$cl_rainbow5;
      }
      &:nth-of-type(6) {
        color: colors.$cl_rainbow6;
      }
    }

    p {
      font: 500 16px fonts.$font-stack-mono;

      a {
        color: inherit;
        font-weight: 600;
        text-decoration: none;

        &:hover {
          font-style: italic;
          color: colors.$cl_main_bright;
        }
      }
    }
  }
}