@use "../colors";
@use "../keyframes";
@use "../overflows";
@use "../urls";
@use "sass:color";

html {

}

#landing {


  main {
    max-width: 100%;
    min-height: 100vh;
    background: colors.$cl_index_bg urls.$background_image;

    #left {
      display: flex;
      //noinspection CssBrowserCompatibilityForProperties
      flex-direction: column;
      justify-content: center;
      height: 100vh;
      width: 50%;

      background: #111111dd;
      color: white;
      animation: 1000ms ease-out 0ms 1 slide-in-left;

      h1 {
        font: 800 5vmin "JetBrains Mono", monospace;
        margin: 5vmin;
      }

      h2 {
        font: 600 4vmin "JetBrains Mono", monospace;
        margin: 0 4vmin 4vmin 5vmin;
      }

      p {
        font: 500 2vmin "JetBrains Mono", monospace;
        margin: 0 3vmin 3vmin 5vmin;
      }

      a {
        display: inline-block;
        color: white;
        text-decoration: none;

        &:hover {
          color: colors.$cl_main_bright;
          font-style: italic;
        }

        &:active {
          transform: scale(1.03);
        }
      }

      #social-nav {
        display: inline-flex;
        //noinspection CssBrowserCompatibilityForProperties
        flex-direction: row;
        margin: 4vmin 0 4vmin 5vmin;

        .social-button {
          border-radius: 16px;
          width: 4vmin;
          height: 4vmin;
          margin: 0 2vmin 0 0;
          padding: 1vmin;
          transition: transform 250ms ease-out;

          img {
            width: 100%;
          }

          &:last-of-type {
            margin: 0;
          }

          &:hover {
            transform: scale(1.125);

            img {
              filter: brightness(0);
            }
          }

          &:nth-of-type(1) {
            border: solid 2px colors.$cl_rainbow1;

            &:hover {
              background: colors.$cl_rainbow1;
              box-shadow: color.scale(colors.$cl_rainbow1, $alpha: -34%) 0 0 20px 5px;
            }
          }

          &:nth-of-type(2) {
            border: solid 2px colors.$cl_rainbow2;

            img {
              filter: brightness(0) saturate(100%) invert(99%) sepia(1%) saturate(1446%) hue-rotate(215deg) brightness(111%) contrast(100%);;
            }

            &:hover {
              background: colors.$cl_rainbow2;
              box-shadow: color.scale(colors.$cl_rainbow2, $alpha: -34%) 0 0 20px 5px;
            }
          }

          &:nth-of-type(3) {
            border: solid 2px colors.$cl_rainbow3;

            &:hover {
              background: colors.$cl_rainbow3;
              box-shadow: color.scale(colors.$cl_rainbow3, $alpha: -34%) 0 0 20px 5px;
            }
          }

          &:nth-of-type(4) {
            border: solid 2px colors.$cl_rainbow4;

            &:hover {
              background: colors.$cl_rainbow4;
              box-shadow: color.scale(colors.$cl_rainbow4, $alpha: -34%) 0 0 20px 5px;
            }
          }

          &:nth-of-type(5) {
            border: solid 2px colors.$cl_rainbow5;

            &:hover {
              background: colors.$cl_rainbow5;
              box-shadow: color.scale(colors.$cl_rainbow5, $alpha: -34%) 0 0 20px 5px;
            }
          }
        }
      }
    }

    #site-nav {
      position: fixed;
      bottom: 5vmin;
      right: 5vmin;

      display: flex;
      //noinspection CssBrowserCompatibilityForProperties
      flex-direction: column;
      align-items: flex-end;

      animation: 1000ms slide-fade-in-right 0ms ease-out 1;
      color: white;

      a {
        margin: 0 -.25rem;
        padding: 0 .25rem;
        text-decoration: none;
        font: 500 4vmin "JetBrains Mono", monospace;
        // Do not change 0.09 of spread - this fixes the flickering issue on hover
        box-shadow: inset 0 0 0 0.09px colors.$cl_main_bright;
        color: white;
        transition: color 300ms ease-in-out, box-shadow 300ms ease-in-out;

        &:hover {
          box-shadow: inset 300px 0 0 0 colors.$cl_main_bright;
          color: black;
        }

        &:active {
          font-style: italic;
        }
      }
    }

    @include overflows.mx_mobile {
      //noinspection CssBrowserCompatibilityForProperties
      flex-direction: column;

      #left {
        width: 100%;
        height: 50%;
        animation: 1000ms ease-out 0ms 1 slide-in-up;

        h1 {
          font-size: 30px;
        }

        h2 {
          font-size: 22px;
        }

        p {
          font-size: 18px;
        }

        #social-nav {
          .social-button {
            width: 8vmin;
            height: 8vmin;
            padding: 2vmin;
          }
        }
      }

      #site-nav {
        a {
          font-size: 25px;
        }
      }
    }

    @include overflows.mx_index_site-nav_vertical {
      #site-nav {
        a {
          font-size: 22px;
        }
      }
    }
  }
}