.blog_list{
    list-style-type: none;
    padding: 0;
}

.blog_list_item{
    font-size: 16px;
}

.blog_list_item > a{
    text-decoration: none;
}

.blog_list_item > a:hover{
    text-decoration: underline;
 }

#contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#contact > #buttons > a {
    margin: 0 20px 0 0;
}

#contact > #buttons > a:hover {
    background-color: mintcream;
}

@media(max-width: 745px) {
    #contact > #buttons > a {
        margin: 0 10px 0 0;
    }
}