#post-identifier {
    display: flex;
    flex-direction: column;
}

#post-identifier > hr {
    margin: 0;
    border: black 1px solid;
}

#post-identifier > h3 {
    margin-top: 2px;
    /* These two lines will make the item float to right. */
    /* https://stackoverflow.com/a/36182782/10862652      */
    margin-left: auto;
    order: 2;
    font-weight: 100;
}

#post-identifier-upper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#post-identifier-upper > h1, h3 {
    margin-bottom: 0;
    font-weight: 100;
}