.linkedin {
    background-image: url("../resources/imgs/social-icons/dark-on-light/linkedin.svg");
}

.github {
    background-image: url("../resources/imgs/social-icons/dark-on-light/github.svg");
}

.instagram {
    background-image: url("../resources/imgs/social-icons/dark-on-light/instagram.svg");
}

.mail {
    background-image: url("../resources/imgs/social-icons/dark-on-light/mail.svg");
}

.twitter {
    background-image: url("../resources/imgs/social-icons/dark-on-light/twitter.svg");
}