.linkedin {
    background-image: url("../images/social-icons/light-on-dark/linkedin.svg");
}

.github {
    background-image: url("../images/social-icons/light-on-dark/github.svg");
}

.instagram {
    background-image: url("../images/social-icons/light-on-dark/instagram.svg");
}

.mail {
    background-image: url("../images/social-icons/light-on-dark/mail.svg");
}

.twitter {
    background-image: url("../images/social-icons/light-on-dark/twitter.svg");
}